extends layout

block content
  .container
    .row
      .col-md-6
        h1= title
        hr
        p Please upload your files below and click submit to save them to the database.

        form#uploader(method="post", action="/files").

