extends layout

block content
    .container
        .row
            .col-md-12
                h1= title
                hr
                p Thanks, your files were uploaded and inserted into the database.