@import "bootstrap.css";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  margin-top: 40px;

  .form-control-file {
    padding-left: 0;
  }

  .btn-primary {
    margin-left: 10px;
  }
}